body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movieForm {
    margin: 20px;
}
.movieInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10px;
    width: 300px;
}
button {
    padding: 10px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 170px;
    background-color: hsl(130, 80%, 55%);
    color: white;
}
button:hover {
    background-color: hsl(130, 80%, 45%);
}
button:active {
    background-color: hsl(130, 80%, 40%);
}
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    min-width: 300px;
    max-width: 615px;
    background-color: hsl(240, 100%, 75%);
    color: white;
}
.movie {
    display: flex;
    flex-direction: row;
}
.poster {
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.5);
}
.movieInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 300px;
}
.movieInfo p {
    font-size: 0.7rem;
    max-width: 240px;
}

@media (max-width: 578px) {
    .movieInput {
        width: 230px;
        font-size: 1rem;
    }
    button {
        width: 100px;
        font-size: 1rem;
    }
    .card {
        min-width: 230px;
        max-width: 545px;
        padding: 25px;
    }
    .poster {
        width: 130px;
        height: 230px;
    }
    .movieInfo {
        height: 230px;
    }
    .movieInfo p {
        font-size: 0.55rem;
        max-width: 170px;
    }
    .movieInfo h2 {
        font-size: 0.85rem;
    }
}

@media (max-width: 438px) {
    .movieInput {
        width: 160px;
        font-size: 0.5rem;
    }
    button {
        width: 60px;
        font-size: 0.5rem;
    }
    .card {
        min-width: 115px;
        max-width: 445px;
    }
    .poster {
        width: 60px;
        height: 120px;
    }
    .movieInfo {
        height: 120px;
    }
    .movieInfo p {
        font-size: 0.38rem;
        max-width: 170px;
    }
    .movieInfo h2 {
        font-size: 0.7rem;
    }
}

@media (max-width: 341px) {
    .poster {
        width: 60px;
        height: 120px;
    }
    .card {
        min-width: 45px;
        max-width: 345px;
    }
    .movieInfo {
        height: 120px;
    }
    .movieInfo p {
        font-size: 0.35rem;
        max-width: 170px;
    }
    .movieInfo h2 {
        font-size: 0.7rem;
    }
}

@media (max-width: 329px) {
    .movieInput {
        margin: 5px;
    }
}


